---
import Layout from "../layouts/Layout.astro";
import Aboutme from "../sections/Aboutme.astro";
import Header from "../sections/Header.astro";
import Hero from "../sections/Hero.astro";
---

<Layout title="Home">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />

    <title>Astro</title>
  </head>
  <body>
    <Header />
    <Hero />
    <Aboutme />
  </body>
</Layout>
